@using Microsoft.AspNetCore.Identity
@inject SignInManager<Inz_Fn.Areas.Identity.Data.Inz_FnUser> SignInManager
@{
    var isHomePage = Context.Request.Path.Value.Equals("/");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inz_Fn</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inz_Fn.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-black border-bottom box-shadow @(isHomePage ? "" : "mb-5")">
            <div class="container d-flex">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/png/logoicon.png" width="50px" height="50px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Stock
                            </a>
                            <ul class="dropdown-menu text-white bg-black" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-white" asp-area="" asp-controller="Stock" asp-action="Index">Stocks</a></li>
                            </ul>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Your Stocks
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="User"
                                       asp-action="StockHistory">User Portfolio</a>
                                    <a class="dropdown-item" asp-controller="User"
                                       asp-action="CurrentStocks">Current Stocks</a>
                                </ul>
                            </li>
                        }

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Admin"
                                       asp-action="Users">Users</a>
                                    <a class="dropdown-item" asp-controller="Admin"
                                       asp-action="ActiveStocks">Active Stocks</a>
                                    <a class="dropdown-item" asp-controller="Admin"
                                       asp-action="Statistics">Statistics</a>
                                </ul>
                            </li>
                        }

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="@(!isHomePage ? "container" : "")">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
                    &copy; 2023/24 <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
