@{
    ViewData["Title"] = "Home Page";
}

<div class="full-height-first text-white" style="position: relative;">
    <div class="d-flex flex-column" style="position: absolute; top: 10%; left: 10%; z-index: 1;">
        <h1 class="fw-bold">TRADE</h1>
    </div>
    <img src="~/images/png/indeximage.png" class="w-100 mh-100" />
</div>

<div class="full-height container d-flex flex-column text-center text-md-start pt-5 flex-md-row">
    <div class="d-flex flex-column justify-content-center">
        <div class="fs-1 fw-bold mb-4">Po co jesteśmy?</div>
        <div class="fs-5 md-mx-5 px-5 px-md-0">Pomagamy w analizie akcji za pomocą różnorodnych wykresów cenowych i danych statystycznych w sposób przyjemny i intuicyjny dla użytkownika</div>
    </div>
    <div class="d-flex justify-content-center align-items-center full-image h-100 ms-md-5">
        <img src="~/images/png/tradeanalytix.png"/>
    </div>
</div>

<div class="full-height container d-flex flex-column text-center text-md-start flex-md-row-reverse">
    <div class="d-flex flex-column justify-content-center">
        <div class="fs-1 fw-bold mb-4">Highcharts</div>
        <div class="fs-5 md-mx-5 px-5 px-md-0">Pomagamy w analizie akcji za pomocą różnorodnych wykresów cenowych i danych statystycznych w sposób przyjemny i intuicyjny dla użytkownika</div>
    </div>
    <div class="d-flex justify-content-center align-items-center full-image-lib h-100 me-md-5">
        <img src="~/images/png/highcharts.png"/>
    </div>
</div>

<div class="full-height container d-flex flex-column text-center text-md-start flex-md-row">
    <div class="d-flex flex-column justify-content-center">
        <div class="fs-1 fw-bold mb-4">Polygon.io</div>
        <div class="fs-5 md-mx-5 px-5 px-md-0">Pomagamy w analizie akcji za pomocą różnorodnych wykresów cenowych i danych statystycznych w sposób przyjemny i intuicyjny dla użytkownika</div>
    </div>
    <div class="d-flex justify-content-center align-items-center full-image-lib h-100 ms-md-5">
        <img src="~/images/png/polygonio.png" />
    </div>
</div>
