@{
    ViewData["Title"] = "Home Page";
}

<div class="vh-100 position-relative">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <p><a href="https://localhost:7277/Stock">Stock</a></p>
</div>
</div>
