@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h2 class="fw-bold">Polityka Prywatności</h2>
    <p>
        Niniejsza aplikacja webowa ("Aplikacja") szanuje prywatność użytkowników. Ta Polityka Prywatności wyjaśnia, jakie informacje są zbierane i jak są one wykorzystywane.
    </p>
    <h3 class="fw-bold">Zbieranie i wykorzystanie informacji</h3>
    <p>
        Aplikacja może zbierać informacje, które użytkownicy dobrowolnie dostarczają, takie jak adresy e-mail podane podczas rejestracji. Te informacje są wykorzystywane wyłącznie do celów związanych z funkcjonowaniem Aplikacji, takich jak autentykacja użytkownika.
    </p>
    <h3 class="fw-bold">Bezpieczeństwo</h3>
    <p>
        Aplikacja stosuje odpowiednie środki bezpieczeństwa, aby chronić informacje użytkowników. Jednakże, żaden system nie jest w 100% bezpieczny, więc nie możemy zagwarantować absolutnego bezpieczeństwa informacji.
    </p>
    <h3 class="fw-bold">Zmiany w Polityce Prywatności</h3>
    <p>
        Ta Polityka Prywatności może być okresowo aktualizowana. Wszelkie zmiany będą publikowane na tej stronie.
    </p>
    <h2 class="fw-bold mt-5">Opis Pracy Inżynierskiej</h2>
    <h3 class="fw-bold">Temat: Aplikacja webowa ułatwiająca przegląd i analizę giełdy</h3>
    <p>
        Celem pracy będzie stworzenie strony internetowej do analizy akcji za pomocą różnorodnych wykresów cenowych i danych statystycznych. Praca będzie realizowana przez dwie osoby: Krzysztof Dąbrowski (backend) i Jakub Budziński (frontend).
    </p>
    <h3 class="fw-bold">Zakres pracy</h3>
    <ul>
        <li>Zapoznanie się z technologiami oraz obecnymi rozwiązaniami dla analizy rynkowej.</li>
        <li>Projekt architektury aplikacji oraz wybór narzędzi i technologii programistycznych.</li>
        <li>Ustalenie funkcjonalności systemu, stworzenie prototypu, oraz diagramu przypadków użycia.</li>
        <li>Implementacja kodu oraz testy części serwerowej i wizualnej systemu (Backend, Frontend).</li>
        <li>Analiza uzyskanych wyników oraz testy całościowe aplikacji.</li>
        <li>Opracowanie dokumentacji technicznej i wdrożeniowej. Opracowanie dokumentacji użytkownika oraz administratora platformy.</li>
    </ul>
    <h3 class="fw-bold">Słowa kluczowe</h3>
    <p>.NET, giełda, analiza rynkowa, aplikacja webowa, API, bazy danych</p>
</div>