@{
    ViewData["Title"] = "Home Page";
}


<div class="full-height container d-flex mt-5">
    <div class="d-flex flex-column w-100 text-center">
        <div class="fs-2 fw-bold mb-4">Wykres</div>
    </div>
</div>

